<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591322110653-862kirliabk4lqho937dpli2anv50562.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591322110653-862kirliabk4lqho937dpli2anv50562</string>
	<key>API_KEY</key>
	<string>AIzaSyAKrYRK4rAN249yR217yuvDR8MBgplkUFE</string>
	<key>GCM_SENDER_ID</key>
	<string>591322110653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mc.masterofceremony</string>
	<key>PROJECT_ID</key>
	<string>mcmasterofceremony-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>mcmasterofceremony-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591322110653:ios:b03d1a8c883cfa65f335d4</string>
	<key>DATABASE_URL</key>
	<string>https://mcmasterofceremony-prod-default-rtdb.firebaseio.com</string>
</dict>
</plist>